<div class="second">

<h4>WORK EXPERIENCE</h4>
  <br>


  <h4>SOFTSERVE IT ACADEMY</h4>
  <h4>PRESENT</h4>
  <p>Web-UI Development student.</p>
  <br>
  <hr>

<h4>WEB DEVELOPMENT</h4>
<h4>OWN WEB-SITE || PRESENT</h4>
The development of a website adapted for mobile devices using the technologies of HTML, CSS, JavaScript, Django. Published test version:
<a href="http://needapps.pythonanywhere.com/">http://needapps.pythonanywhere.com/</a><br><br>

<h4>ANDROID APP DEVELOPMENT</h4>
<h4>OWN PROJECTS || 2018</h4>
My android apps:
  <ul>
    <li>Kolomyia: guide and routes</li>
    <li>Birds of Ukraine</li>
    <li>Reptiles and Amphibians of Ukraine</li>
  </ul>
  <br>

<h4>PROJECT MANAGER / CONTENT MANAGER</h4>
<h4>BUKOVEL SKI SCHOOL || 2015 – PRESENT</h4>
  <ul>
    <li>Controlling of uninterrupted work of the site</li>
    <li>Solving simple problems on the site (WordPress template editing)</li>
    <li>Creating new pages and functional elements, updating content on the site</li>
    <li>Setting up complex tasks for the programmer, controlling the tasks</li>
  </ul>
  <br>
<h4>SALES / PROJECT MANAGER</h4>
<h4>IT-COMPANY IN KOLOMYIA || 2014 – 2015</h4>
  <ul>
    <li>Increasing customer base, attracting new customers, working with existing clients</li>
    <li>Setting up communication between a programmer and a customer</li>
    <li>Controlling and managing of the programmer's work, interaction with a client</li>
  </ul>
</div>
