<div class="first">

<h1>MYKOLA TROTS</h1>
<H6>PURPOSE</H6>
<H4>WEB-UI DEVELOPMENT </H4>
  <br>
  <hr>

<H4>TECHNICAL SKILLS</H4>
  <br>
<ul>
  <li>HTML / CSS / JAVASCRIPT</li>
  <li>JQUERY</li>
  <li>BOOTSTRAP</li>
  <li>SQL</li>
  <li>GIT</li>
</ul>
  <br>
  <hr>


<h4>EDUCATION</h4>
  <br>

  <h6>IGOR SIKORSKY KYIV POLYTECHNIC INSTITUTE (KPI),</h6>
  <p>Faculty of Electronics, telecommunication systems and networks</p>
  <p><strong>2005-2011</strong></p>
  <br>

  <h6>KOLOMYIA POLYTECHNIC COLLEGE,</h6>
  <p>Faculty of Mechanization</p>
  <p><strong>2000-2005</strong></p>
  <br>
  <hr>


</div>
